
.model-title {
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  
  .model-preview { 
    width: 100%;
    height: 300px;
    /* background: #80808029; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card_container:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }
  .preview_Img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color-burn;
    background-size: cover;
  }