.css-1tse2b6{
    border: none !important;
}
.modalTitleContainer{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: relative;
}
.closeIcon{
    position: absolute;
    top: 0;
    right: 0%;
    cursor: pointer;
}
/* 
.full-width-height > :first-child {
    width: 100% !important;
    height:  100% !;
} */