.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.headerTitle{
    font-size: 18px;
    font-weight: 700;
}